{% extends "mall/base.html" %}
{% load humanize %}

{% block content %}

    <div class="row">
        {% for product in product_list %}
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img src="{{ product.photo.url }}"
                         alt="{{ product.name }} 사진"
                         class="card-img-top object-fit-cover"/>
                    <div class="card-body">
                        {{ product.category.name }}
                        <div>
                            <h5 class="text-truncate">{{ product.name }}</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>{{ product.price|intcomma }}원</div>
                            <div>
                                <a href="#" class="btn btn-primary">장바구니에 담기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
