{% extends "mall/base.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load thumbnail %}

{% block content %}
    <div class="modal fade" id="alert-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">알림</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="{% url 'cart_detail' %}" class="btn btn-primary">장바구니 보기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in product_list %}
            <div class="col-sm-6 col-lg-4 mb-3">
                <div class="card">
                    {# djlint: off #}
                    {% thumbnail product.photo "300x300" crop="center" as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.name }} 사진" class="card-img-top object-fit-cover"/>
                    {% endthumbnail %}
                    {# djlint: on #}

                    <div class="card-body">
                        {{ product.category.name }}
                        <div>
                            <h5 class="text-truncate">{{ product.name }}</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>{{ product.price|intcomma }}원</div>
                            <div>
                                <a href="{% url 'add_to_cart' product.pk %}"
                                   class="btn btn-primary cart-button">장바구니에 담기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-3 mb-3">{% bootstrap_pagination page_obj url=request.get_full_path %}</div>

{% endblock %}

{% block extra-script %}
    <script>
        const alert_modal = new AlertModal("#alert-modal");

        document.querySelectorAll(".cart-button").forEach(function(button) {
            button.addEventListener("click", function(e) {
                e.preventDefault();
                const url = e.target.href;

                fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": window.csrf_token,
                    }
                }).then(function(response) {
                    return response.status === 200 ? response.text() : Promise.reject(response)
                }).then(function() {
                    alert_modal.show("장바구니에 담았습니다.");

                }).catch(function() {
                    alert_modal.show("장바구니에 담았습니다.");
                });
            });
        });
    </script>
{% endblock %}
