{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>장고 쇼핑몰</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>

        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">장고 쇼핑몰</span>
                </a>

                <ul class="nav nav-pills">
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}" class="nav-link">회원가입</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link">프로필</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">로그아웃</a>
                        </li>
                    {% endif %}
                </ul>
            </header>
        </div>

        <div class="container">
            {% block content %}{% endblock %}

            <hr />
            &copy; 2023. All rights reserved.
        </div>
    </body>
</html>
